body {
    background-color: rgb(120, 242, 242);
    box-sizing: content-box;
}
.header {
    position: relative;
    text-align: center;
    font-size: 50px;
    font-style: oblique;
    background-color: rgb(120, 242, 242);
}
.sumario {
    position: absolute;
    margin-left: 650px;
    margin-top: 70px;
    border-radius: 50px;
    padding: 20px 25px 10px 5px;
    font-size: x-large;
    text-decoration: none;
    background-color: rgba(126, 222, 222, 0.397);
    border: 3px rgba(127, 142, 195, 0.521) solid;
}
.article {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: 30px;
}
.articleSection {
    width: 500px;
    margin-top: 60px;
    padding: 10px;
}
.articleAside {
    font-size: 30px;
   text-align: center;
   position: absolute;
    right: 200px;
    top: 150px;
   margin-left: 50px;
   box-sizing: border-box;
   padding: 5px;
   width: 500px;
   height: 300px;
}
.articleTable:hover {
    background-color: bisque;
}
.articleTable td {
    border: 1px black solid;
}
.curiositySection {
    display: inline-block;
    vertical-align: auto;
    padding: 20px;
    padding-right: 400px;
    background-color: aqua;
    border: 2px black solid;
}
.curiositySection p {
    padding: 20px;
    padding-left: 60px;
}
#fotoGolpe {
    float: left;
    padding: 5px;
}
.curiositySection2 {
    display: inline-block;
    vertical-align: auto;
    padding: 20px;
    padding-right: 400px;
    background-color: aqua;
    border: 2px black solid;
}
.curiositySection2 p {
    padding: 20px;
    padding-left: 60px;
}
.videoDiv {
    text-align: center;
}
.references {
    background-color: aqua;
    border: 2px black solid;
}
.footer {
    text-align: center;
}