   h1 {
            font-size: 65px;
            color: orange;
            font-family: sans-serif;
        }
        ul {
            background-color: aqua;
        }
        .corDeFundo {
            background-color: rgb(212, 14, 14);
        }
        p {
          font-weight: 600px;
          line-height: 48px;
          text-align: center;
          text-decoration: underline;
        }
        body {
          font-size: 16px;
          font-style: inherit;
          line-height: 60px;
          text-decoration: underline;
        }
        #linhaAmarela {
          background-color: yellow;
        }
        #linhaVermelha {
          background-color: red;
        }
        #linhaMarrom {
          background-color: brown;
        }