.super-mario {
    width: 200px;
    position: absolute;
    left: 50px;
  }
  
  .goomba {
    width: 100px;
    position: absolute;
    top: 400px;
    left: 50px
  }
  
  .baloon {
      position: absolute;
    left: 650px;
    z-index: 1;
  }
  
  .speach {
    position: absolute;
    left: 670px;
    top: 125px;
    font-size: 25px;
    z-index: 2;
  }
  
  .bowser {
      position: absolute;
      left:  900px;
    width: 400px;
    top: 200px;
  }
 